.card {
  box-sizing: border-box;
  width: $card-width;
  border: $border-r solid $border-color;
  border-radius: $radius-md;
  padding: $space-xl $space-md $space-md;
  background-color: $secondary-color;

  &__img {
    display: block;
    height: $img-height;
    width: $img-width;
    margin: 0 auto $space-xxl;
  }

  &__title {
    font-size: $fs-sm;
    font-weight: $fw-medium;
    line-height: $lh-lg;
    color: $main-color;
    margin: 0 0 $space-xs;
  }

  &__code {
    font-size: $fs-xs;
    font-weight: $fw-regular;
    line-height: $lh-sm;
    color: $small-color;
    margin: 0 0 $space-md;
  }
}
