.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px;

  &__word {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $small-color;
  }

  &__sum {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-color;
  }
}
