.reviews {
  display: flex;
  justify-content: space-between;
  margin: 0 0 $space-lg;
  align-items: flex-end;
}

.reviews__text {
  font-size: $fs-xs;
  font-weight: $fw-regular;
  color: $main-color;
}
