html {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
}

@import 'variables';
@import 'blocks/button';
@import 'blocks/card';
@import 'blocks/price';
@import 'blocks/reviews';
@import 'blocks/stars';
