$card-width: 200px;
$star-size: 16px;
$btn-width: 166px;
$btn-height: 40px;
$img-width: 160px;
$img-height: 134px;
$main-color: rgba(6, 11, 53, 1);
$secondary-color: rgba(255, 255, 255, 1);
$border-color: rgba(243, 243, 243, 1);
$button-color: rgba(0, 172, 220, 1);
$small-color: rgba(97, 96, 112, 1);
$font-main: Roboto, sans-serif;
$fs-xs: 10px;
$fs-sm: 12px;
$fs-md: 14px;
$fs-lg: 16px;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$lh-sm: 14px;
$lh-md: 16px;
$lh-lg: 18px;
$space-xs: 4px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 40px;
$radius-sm: 0.5px;
$radius-md: 5px;
$border-r: 1px;

